## Segmenting and Clustering Neighborhoods in Toronto

This Notebook explores, segments and clusters the neighborhoods in the city of Toronto. For this data a Wikipedia page exists that has all the information needed to explore and cluster said neighborhoods. Here we scrape the wikipedia page and wrangle the data, clean it and then read it in a pandas dataframe.

### Week 3

In [79]:
import pandas as pd

In [80]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
Toronto_list = pd.read_html(url)
Toronto_df = pd.DataFrame(Toronto_list)

This particular Wikipedia page contains three different tables, as can be seen in the following

In [81]:
print('Tables extracted from the page:',len(Toronto_list))
print('Length of the first Table:', len(Toronto_list[0]))
print('Length of the second Table:', len(Toronto_list[1]))
print('Length of the third Table:', len(Toronto_list[2]))

Tables extracted from the page: 3
Length of the first Table: 181
Length of the second Table: 6
Length of the third Table: 2

We are only interested in the first table, which is now converted into a DataFrame

In [83]:
Toronto_df = pd.DataFrame(Toronto_list[0])
Toronto_df.head()

             0             1                 2
0  Postal Code       Borough      Neighborhood
1          M1A  Not assigned      Not assigned
2          M2A  Not assigned      Not assigned
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

The column headers clearly need to be modified using the first row

In [84]:
headers = Toronto_df.iloc[0]
Toronto_df = pd.DataFrame(Toronto_df.values[1:], columns = headers)
Toronto_df.head()

0 Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

The occurrances of 'Not assigned' in the Borough column need to be removed

In [87]:
Toronto_df = Toronto_df[Toronto_df.Borough != 'Not assigned']
Toronto_df.head()

0 Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Now we need to reindex the index column, as the removal of unuseful rows have distorted this column

In [89]:
Toronto_df.reset_index(drop=True, inplace=True)

<bound method NDFrame.head of 0   Postal Code           Borough  \
0           M3A        North York
1           M4A        North York
2           M5A  Downtown Toronto
3           M6A        North York
4           M7A  Downtown Toronto
5           M9A         Etobicoke
6           M1B       Scarborough
7           M3B        North York
8           M4B         East York
9           M5B  Downtown Toronto
10          M6B        North York
11          M9B         Etobicoke
12          M1C       Scarborough
13          M3C        North York
14          M4C         East York
15          M5C  Downtown Toronto
16          M6C              York
17          M9C         Etobicoke
18          M1E       Scarborough
19          M4E      East Toronto
20          M5E  Downtown Toronto
21          M6E              York
22          M1G       Scarborough
23          M4G         East York
24          M5G  Downtown Toronto
25          M6G  Downtown Toronto
26          M1H       Scarborough
27          M2H        North York
28          M3H        North York
29          M4H         East York
..          ...               ...
73          M4R   Central Toronto
74          M5R   Central Toronto
75          M6R      West Toronto
76          M7R       Mississauga
77          M9R         Etobicoke
78          M1S       Scarborough
79          M4S   Central Toronto
80          M5S  Downtown Toronto
81          M6S      West Toronto
82          M1T       Scarborough
83          M4T   Central Toronto
84          M5T  Downtown Toronto
85          M1V       Scarborough
86          M4V   Central Toronto
87          M5V  Downtown Toronto
88          M8V         Etobicoke
89          M9V         Etobicoke
90          M1W       Scarborough
91          M4W  Downtown Toronto
92          M5W  Downtown Toronto
93          M8W         Etobicoke
94          M9W         Etobicoke
95          M1X       Scarborough
96          M4X  Downtown Toronto
97          M5X  Downtown Toronto
98          M8X         Etobicoke
99          M4Y  Downtown Toronto
100         M7Y      East Toronto
101         M8Y         Etobicoke
102         M8Z         Etobicoke

0                                         Neighborhood
0                                            Parkwoods
1                                     Victoria Village
2                            Regent Park, Harbourfront
3                     Lawrence Manor, Lawrence Heights
4          Queen's Park, Ontario Provincial Government
5              Islington Avenue, Humber Valley Village
6                                       Malvern, Rouge
7                                            Don Mills
8                      Parkview Hill, Woodbine Gardens
9                             Garden District, Ryerson
10                                           Glencairn
11   West Deane Park, Princess Gardens, Martin Grov...
12              Rouge Hill, Port Union, Highland Creek
13                                           Don Mills
14                                    Woodbine Heights
15                                      St. James Town
16                                  Humewood-Cedarvale
17   Eringate, Bloordale Gardens, Old Burnhamthorpe...
18                   Guildwood, Morningside, West Hill
19                                         The Beaches
20                                         Berczy Park
21                                 Caledonia-Fairbanks
22                                              Woburn
23                                             Leaside
24                                  Central Bay Street
25                                            Christie
26                                           Cedarbrae
27                                   Hillcrest Village
28     Bathurst Manor, Wilson Heights, Downsview North
29                                    Thorncliffe Park
..                                                 ...
73                   North Toronto West, Lawrence Park
74                 The Annex, North Midtown, Yorkville
75                              Parkdale, Roncesvalles
76               Canada Post Gateway Processing Centre
77   Kingsview Village, St. Phillips, Martin Grove ...
78                                           Agincourt
79                                          Davisville
80                      University of Toronto, Harbord
81                                  Runnymede, Swansea
82             Clarks Corners, Tam O'Shanter, Sullivan
83                         Moore Park, Summerhill East
84           Kensington Market, Chinatown, Grange Park
85   Milliken, Agincourt North, Steeles East, L'Amo...
86   Summerhill West, Rathnelly, South Hill, Forest...
87   CN Tower, King and Spadina, Railway Lands, Har...
88        New Toronto, Mimico South, Humber Bay Shores
89   South Steeles, Silverstone, Humbergate, Jamest...
90                       Steeles West, L'Amoreaux West
91                                            Rosedale
92                                      Stn A PO Boxes
93                              Alderwood, Long Branch
94                 Northwest, West Humber - Clairville
95                                         Upper Rouge
96                         St. James Town, Cabbagetown
97              First Canadian Place, Underground city
98       The Kingsway, Montgomery Road, Old Mill North
99                                Church and Wellesley
100  Business reply mail Processing Centre, South C...
101  Old Mill South, King's Mill Park, Sunnylea, Hu...
102  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]>

In [90]:
Toronto_df.head()

0 Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

We can now check wheter there are Neighborhood entries with 'Not assigned' entries, which are none as shown here

In [93]:
print(len(Toronto_df[Toronto_df.Neighborhood == 'Not assigned']))

0

Finally, we notice that the column name required is actually 'PostalCode', so we need to rename the corresponding column

In [104]:
Toronto_df.rename(columns = {'Postal Code':'PostalCode'},inplace=True)

Finally, despite being a little bit redundant, we show the shape of this DataFrame

In [97]:
Toronto_df.shape

(103, 3)